{{ define "title" }}
Vet Detail
{{ end }}

{{ define "main" }}

<h1>Vet Detail</h1>

{{with .Form }}

<div id="alert"></div>

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="my-3">{{ .LastName }}, {{ .FirstName }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="/vet/edit/{{ .Id }}" type="button" class="btn btn-primary ms-2">Edit</a>
                            <button type="button" class="btn btn-outline-danger ms-2" data-bs-toggle="modal"
                                data-bs-target="#removeVetModal">Remove</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div id='calendar'></div>

                        <form class="mt-2" hx-post="/visit/create" id="appt-form" hx-target-4x="#alert"
                            hx-target-5x="body">
                            <div class="input-group">
                                <span class="input-group-text">Appt</span>
                                <input class="form-control w-auto" type="datetime-local" name="appointment">
                                <span class="input-group-text">Hour</span>
                                <input class="form-control w-10" type="number" name="duration" value="1">
                                <button class="btn btn-outline-primary" type="submit">Create</button>
                            </div>

                            <div class="input-group mt-2">
                                <span class="input-group-text">Reason for visit</span>
                                <textarea name="visitReason" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </form>

                        <form class="mt-2" hx-post="/pet/search" hx-target="#petList" hx-target-4*="#petList">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Pet Name</span>
                                <input type="text" class="form-control" placeholder="Pet Name" aria-label="Pet Name"
                                    name="name" aria-describedby="petName" value="Mangss">
                                <span class="input-group-text">Birthdate</span>
                                <input type="date" class="form-control" aria-label="Birthdate" name="birthdate"
                                    aria-describedby="birthdate" value="1234-12-12">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </div>
                        </form>

                        <div class="" id="petList"></div>
                    </div>
                </div>

            </div>
        </div>
</section>

<!-- Modal -->
<div class="modal fade" id="removeVetModal" tabindex="-1" aria-labelledby="removeVetModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeVetModal">Remove Vet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm to remove the vet.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" hx-delete="/vet/{{ .Id }}">Remove</button>
            </div>
        </div>
    </div>
</div>

{{ end }}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script type="text/javascript" src="/static/js/renderCalendar.js"></script>

<script>

    document.addEventListener('htmx:configRequest', (event) => {
        params = event.detail.parameters

        const pathMapping = {
            '/pet/search': petSearch,
            '/visit/create': createVisit,
        }

        pathMapping[event.detail.path](params);
    })

    function petSearch(params) {
        if (params.birthdate) {
            params.birthdate = new Date(params.birthdate).toISOString()
        }
    }

    function createVisit(params) {
        if (params.appointment) {
            params.appointment = new Date(params.appointment).toISOString()
        }

        const selectedPet = document.querySelector('.pet_row.table-success')

        params.visit = {
            appointment: params.appointment,
            visitReason: params.visitReason,
            petId: Number(selectedPet?.dataset?.petId),
            vetId: Number('{{ .Form.Id }}'),
            duration: Number(params.duration),
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        renderCalendar(JSON.parse('{{ .Form.Visits }}'))
    });

    document.addEventListener('htmx:afterSwap', (event) => {
        const elt = event.detail.elt
        if (elt.id === 'alert') {
            for (let alert of document.querySelectorAll('#alert')) {
                setTimeout(() => {
                    alert.innerHTML = ''
                    alert.className = ''
                }, 3000);
            }
        }
    })

</script>

{{ end }}