{{ define "title" }}
Vets
{{ end }}

{{ define "main" }}
<h1>Vets</h1>

<a href="/vet/create" class="btn btn-primary">Vet Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Form.Vets }}
        <tr>
            <td>
                <a href="/vet/detail/{{ .Id }}" class="btn btn-outline-primary">{{ .FirstName }} {{ .LastName }}</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination" id="owner-pagination">
    </ul>
</nav>

<script>
    const pageLen = '{{ .Form.PageLen }}'
    const pageUl = document.getElementById('owner-pagination')

    for (let i = 0; i <= pageLen; ++i) {
        const page = `<li class="page-item"><a class="page-link" href="/vet?page=${i + 1}">${i + 1}</a></li>`
        pageUl.insertAdjacentHTML('beforeend', page)
    }
</script>

{{ end }}