{{define "title"}}
Owners
{{end}}

{{define "main"}}
<h1>Owner Page</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>


        {{ range .Form.Owners }}
        <tr>
            <td><a href="#" class="btn btn-outline-primary">{{ .FirstName }} {{ .LastName }}</a></td>
            <td>{{ .Phone | phoneNumber }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Birthdate | birthdate }}</td>
        </tr>
        {{end}}


    </tbody>
</table>
<a href="/owner/create" class="btn btn-primary" role="button">Create New Owner</a>
{{end}}