{{define "title"}}
Owners
{{end}}

{{define "main"}}
<h1>Owner Page</h1>

<a href="/owner/create" class="btn btn-primary" role="button">Create New Owner</a>

<table id="owner-table" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>

        {{ range .Form.Owners }}
        <tr>
            <td>
                <a href="/owner/detail/{{ .Id }}" class="btn btn-outline-primary">{{ .FirstName }} {{ .LastName }}</a>
            </td>
            <td>{{ .Phone | phoneNumber }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Birthdate | birthdate }}</td>
        </tr>
        {{end}}

    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" id="owner-pagination">
    </ul>
</nav>

<script>
    const pageLen = '{{ .Form.PageLen }}'
    const pageUl = document.getElementById('owner-pagination')

    for (let i = 0; i < pageLen; ++i) {
        const page = `
        <li class="page-item">
            <button class="page-link" hx-get="/owner?page=${i}" hx-select="#owner-table" hx-target="#owner-table">${i + 1}</button>
        </li>`
        pageUl.insertAdjacentHTML('beforeend', page)
    }
</script>

{{end}}